<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xmlns:context="http://www.springframework.org/schema/context"
	   xmlns:tx="http://www.springframework.org/schema/tx" xmlns:aop="http://www.springframework.org/schema/aop"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context
       http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd http://www.springframework.org/schema/aop https://www.springframework.org/schema/aop/spring-aop.xsd">

	<!-- 注册相关后置处理器,扫描包路径下的注解配置 -->
	<context:component-scan base-package="com.sr.mvc">
		<context:exclude-filter type="annotation"
								expression="org.springframework.stereotype.Controller"/>
	</context:component-scan>

	<!-- 1.配置数据源 -->
	<!--<bean id="dataSource"-->
	<!--class="org.springframework.jdbc.datasource.DriverManagerDataSource">-->
	<!--&lt;!&ndash; 1.1.数据库驱动 &ndash;&gt;-->
	<!--<property name="driverClassName" value="com.mysql.jdbc.Driver"/>-->

	<!--&lt;!&ndash; 1.2.连接数据库的url &ndash;&gt;-->
	<!--<property name="url"-->
	<!--value="jdbc:mysql://localhost:3306/spring_jdbc?characterEncoding=utf8&amp;useSSL=false&amp;serverTimezone=UTC&amp;rewriteBatchedStatements=true"/>-->
	<!--&lt;!&ndash; 1.3.连接数据库的用户名 &ndash;&gt;-->
	<!--<property name="username" value="root"></property>-->
	<!--&lt;!&ndash; 1.4.连接数据库的密码 &ndash;&gt;-->
	<!--<property name="password" value="ambition"></property>-->
	<!--</bean>-->

	<!--&lt;!&ndash; 2配置JDBC模板 &ndash;&gt;-->
	<!--<bean id="jdbcTemplate"-->
	<!--class="org.springframework.jdbc.core.JdbcTemplate">-->
	<!--&lt;!&ndash; 默认必须使用数据源 &ndash;&gt;-->
	<!--<property name="dataSource" ref="dataSource"></property>-->
	<!--</bean>-->

	<!--事务注解驱动，标注@Transactional 具有事务性-->
	<tx:annotation-driven transaction-manager="transactionManager"/>
	<!--配置事务管理器-->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="dataSource"/>
	</bean>
	<!--7 aspectj支持自动代理实现AOP功能 -->
	<aop:aspectj-autoproxy proxy-target-class="true"/>
	<!--表明引用的参数配置文件是mysql-local.properties-->
	<!--<bean id="propertyConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">-->
	<!--<property name="locations">-->
	<!--<list>-->
	<!--<value>-->
	<!--config/mysql-local.properties-->
	<!--</value>-->
	<!--</list>-->
	<!--</property>-->
	<!--</bean>-->
	<bean class="org.springframework.context.support.PropertySourcesPlaceholderConfigurer">
		<property name="locations">
			<list>
				<value>
					config/mysql-local.properties
				</value>
			</list>
		</property>
	</bean>

	<!--数据库连接池-->
	<bean id="dataSource" class="com.alibaba.druid.pool.DruidDataSource">
		<property name="driverClassName" value="${jdbc.driver}"/>
		<property name="url" value="${jdbc.url}"/>
		<property name="username" value="${jdbc.uid}"/>
		<property name="password" value="${jdbc.password}"/>
		<!-- 初始连接池大小 -->
		<property name="initialSize" value="10"/>
		<!-- 连接池中连接最小个数 -->
		<property name="minIdle" value="5"/>
		<property name="maxActive" value="20"/>
	</bean>


	<!-- 配置SqlSessionFactory对象 -->
	<bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
		<!-- 注入数据库连接池 -->
		<property name="dataSource" ref="dataSource"/>
		<!--<property name="configLocation" value="config/mybatis-config.xml"/>-->
		<property name="mapperLocations" value="classpath:mapper/*.xml"/>
		<property name="typeAliasesPackage" value="com.sr.mvc.pojo"/>
	</bean>

	<!--<bean id="sqlsessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">-->
	<!--<constructor-arg index="0" ref="sqlSessionFactory" />-->
	<!--</bean>-->

	<!--配置userMapper对象-->
	<bean id="userMapper" class="org.mybatis.spring.mapper.MapperFactoryBean">
		<property name="mapperInterface" value="com.sr.mvc.dao.UserDao"/>
		<property name="sqlSessionFactory" ref="sqlSessionFactory"/>
	</bean>

	<!--4 自动扫描对象关系映射 -->
	<!--<bean class="org.mybatis.spring.mapper.MapperScannerConfigurer">-->
		<!--&lt;!&ndash;指定会话工厂，如果当前上下文中只定义了一个则该属性可省去 &ndash;&gt;-->
		<!--<property name="sqlSessionFactoryBeanName" value="sqlSessionFactory"/>-->
		<!--&lt;!&ndash; 指定要自动扫描接口的基础包，实现接口 &ndash;&gt;-->
		<!--<property name="basePackage" value="com.sr.mvc.dao"/>-->
		<!--<property name="sqlSessionFactory" ref="sqlSessionFactory"/>-->
		<!--<property name="markerInterface" value="com.sr.mvc.dao.BaseDao"/>-->
	<!--</bean>-->
</beans>