<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean class="com.sr.ioc.ioc1.beanBeanFactoryPostProcessor.HelloMessage" id="message">
		<property name="name">
			<value>${bean.message}</value>
		</property>
	</bean>

	<bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer" id="mesHandler">
		<property name="locations">
			<list>
				<value>config/bean.properties</value>
			</list>
		</property>
	</bean>

	<bean class="com.sr.ioc.ioc2.processores.MyInstantiationAwareBeanPostProcessor"/>
</beans>