<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	   xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
	   xsi:schemaLocation="http://www.springframework.org/schema/beans
        https://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

	<bean id="testTarget" class="com.sr.aop.springaop.TestTarget"></bean>
	<bean id="testAdvisor" class="com.sr.aop.springaop.TestAdvisor"/>
	<!--方式1-->
	<bean id="proxyFactoryBean" class="org.springframework.aop.framework.ProxyFactoryBean">
		<property name="proxyInterfaces">
			<value>com.sr.aop.springaop.AbcInterface</value>
		</property>
		<property name="targetName">
			<value>testTarget</value>
		</property>
		<property name="target" ref="testTarget">
		</property>

		<property name="interceptorNames">
			<list>
				<value>testAdvisor</value>
			</list>
		</property>
	</bean>
	<!--方式2-->
	<bean id="proxyFactory" class="org.springframework.aop.framework.ProxyFactory">
		<property name="target" ref="testTarget"/>
	</bean>

</beans>
